/* .form {
  background: aqua;
}
.small .form {
  grid-row: 3 / 4;
}
.large .form {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
} */
.inputWpr {
  display: grid;
  gap: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
}
